/* app-specific styling */
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

* { font-family: 'Noto Sans', sans-serif;}

table {
    margin: 10px;
}
.page-header {
    margin-bottom: 0px;
    padding: 10px;
}
#search-bar {
    background-color: #666;
    color:#fff;
    font-weight:bold;
    padding: 5px;
    vertical-align: middle;
}
#search-bar input {
    width:100px;
    font-family: 'Inconsolata', sans-serif;
}

.file-list {
    padding: 15px;
}
.file-key { text-align: left;}
.file-lastModified { text-align:center; }
.file-size { text-align:right; }
